<nav class="nav">
  <div>
    <a class="main-nav" href="/"
      ><p id="main-heading">Tanisha Verma's blogs</p>
      <h1></h1
    ></a>
  </div>
  <ul class="list">
    <li><a class="nav-item" href="/">Blogs</a></li>
    <li><a class="nav-item" href="/about">About</a></li>
    <li><a class="nav-item" href="/blogs/create">New Blog</a></li>
  </ul>
</nav>
