<html lang="en">
<%- include('./partials/head.ejs')%>

<body>
    <%- include('./partials/nav.ejs')%>
    <div>
        OOPS 404 ERROR
    </div>
    <%- include('./partials/footer') %>    
</body>
</html>